<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th>序号</th>
      <th>姓名</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>性别</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.username }}</td>
      <td>{{ teacher.email }}</td>
      <td *ngIf="teacher.sex; else femaleBlock">男</td>
      <td>删除</td>
    </tr>
  </tbody>
</table>

<ng-template #femaleBlock>
  <td>女</td>
</ng-template>
