<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <a class="navbar-brand mr-auto mr-lg-0" routerLink="/">软小白教务系统</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="teacher">教师管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">班级管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">学生管理</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="personal-center">个人中心</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">注销</button>
    </form>
  </div>
</nav>
