<div class="container-md">
  <div class="row">
    <div class="col-4 text-right">
      姓名：
    </div>
    <div class="col-8">
      {{me.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      用户名：
    </div>
    <div class="col-8">
      {{me.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      邮箱：
    </div>
    <div class="col-8">
      {{me.email}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      性别：
    </div>
    <div class="col-8">
      {{me.sex | sex}}
    </div>
  </div>
</div>
