<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2" routerLink="./add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>名称</th>
    <th>班主任</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clazz of pageData.content; index as index">
    <td>{{index + 1}}</td>
    <td>{{clazz.name}}</td>
    <td>{{clazz.teacher.name}}</td>
    <td>
      <a class="btn btn-outline-primary btn-sm" routerLink="edit/{{clazz.id}}">
        <i class="fas fa-pen"></i>编辑
      </a>
      <span class="btn btn-sm btn-outline-danger" (click)="onDelete(index, clazz.id)">
          <i class="far fa-trash-alt"></i>删除
        </span>
    </td>
  </tr>
  </tbody>
</table>

<app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
