<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>名称</th>
    <th>班主任</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clazz of pageData.content; index as index">
    <td>{{index + 1}}</td>
    <td>{{clazz.name}}</td>
    <td>{{clazz.teacher.name}}</td>
    <td>
      <a class="btn btn-outline-primary btn-sm">
        <i class="fas fa-pen"></i>编辑
      </a>
      <span class="btn btn-sm btn-outline-danger">
          <i class="far fa-trash-alt"></i>删除
        </span>
    </td>
  </tr>
  </tbody>
</table>

<nav class="row justify-content-md-center">
  <ul class="pagination col-md-auto">
    <li class="page-item disabled"><span class="page-link">上一页</span></li>
    <li [ngClass]="{active: page === 0}" class="page-item"><span class="page-link" (click)="onPage(0)">1</span></li>
    <li [ngClass]="{active: page === 1}" class="page-item"><span class="page-link" (click)="onPage(1)">2</span></li>
    <li [ngClass]="{active: page === 2}" class="page-item"><span class="page-link" (click)="onPage(2)">3</span></li>
    <li class="page-item"><span class="page-link">下一页</span></li>
  </ul>
</nav>
