<div class="row">
  <div class="col-12 text-right">
    <a class="btn btn-primary mr-2"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>名称</th>
    <th>班主任</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>班级1</td>
      <td>张三</td>
      <td>
        <a class="btn btn-outline-primary btn-sm" >
          <i class="fas fa-pen"></i>编辑
        </a>
        <span class="btn btn-sm btn-outline-danger" >
          <i class="far fa-trash-alt"></i>删除
        </span>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>班级2</td>
      <td>李四</td>
      <td>
        <a class="btn btn-outline-primary btn-sm" >
          <i class="fas fa-pen"></i>编辑
        </a>
        <span class="btn btn-sm btn-outline-danger" >
          <i class="far fa-trash-alt"></i>删除
        </span>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>班级3</td>
      <td>王五</td>
      <td>
        <a class="btn btn-outline-primary btn-sm" >
          <i class="fas fa-pen"></i>编辑
        </a>
        <span class="btn btn-sm btn-outline-danger" >
          <i class="far fa-trash-alt"></i>删除
        </span>
      </td>
    </tr>
  </tbody>
</table>

<nav class="row justify-content-md-center">
  <ul class="pagination col-md-auto">
    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">下一页</a></li>
  </ul>
</nav>
