{{teacher | json}}
<form class="container-sm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">用户名</label>
    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
           [(ngModel)]="teacher.username" name="username">
    <div id="usernameHelp" class="form-text">我们不会分享你的登录信息</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
           [(ngModel)]="teacher.password" name="password">
  </div>
  <div class="mb-3">
    <p class="alert alert-danger" *ngIf="showError">用户名或密码错误，请重新输入!</p>
  </div>
  <button type="submit" class="btn btn-primary">登录</button>
</form>
